---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { slugify } from "../../tools/slugify";
const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
const pageTitle = "Índice de TAGS"
---

<style>
    a {color: burlywood; text-decoration: none;}
    a:hover {color: darkolivegreen}
    .tags {display: flex; flex-wrap: wrap;}
    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: .5em;
        padding: .5em 1em;
        font-size: 1.15em;
        background-color: #f8fcfd;
    }

</style>

<BaseLayout pageTitle={pageTitle}>
    <div class="tags">
        {tags.map((tag) => (
            <h4 class="tag">
                <a href={`/tags/${slugify(tag)}`}>{tag}</a>
            </h4>
        ))}
    </div>    
</BaseLayout>