---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { slugify } from "../../tools/slugify";
const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
const pageTitle = "Índice de TAGS"
---

<style>
    a {color: darkolivegreen; text-decoration: none;}
    a:hover {color: white}
    .tags {
        display: flex; 
        flex-wrap: wrap;
    }
    .tag {
        margin: 0.25em;
        border-radius: .5em;
        padding: .5em 1em;
        font-size: 0.75em;
        background-color:burlywood;
    }

</style>

<BaseLayout pageTitle={pageTitle}>
    <div class="tags">
        {tags.map((tag) => (
            <h4 class="tag">
                <a href={`/tags/${slugify(tag)}`}>{tag}</a>
            </h4>
        ))}
    </div>    
</BaseLayout>