---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body>
        <a href="/">Inicio</a>
        <a href="/about/">Sobre mi</a>
        <a href="/blog/">Blog</a>
		
        <h1>Blog NUM 01</h1>
        
        <h2>Este es el primer blog</h2>
        
        <p>En este primer blog solo diré que estoy armando mi web
            paso a paso, me tomo mi tiempo y trato de aprender cada vez más.
        </p>

	</body>
</html>
