---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "El blog de Astro-Pol";
import Saludos from "../components/Saludos.jsx";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Esta es mi página de inicio</h2>

	<Saludos client:load mensajes={[
		"Hej", 
		"Hallo", 
		"WEP!", 
		"Habari",
		"Buenas!",
		"Cómo va?",
		"Qué onda..",
		"Hola hola",
		"Bienvenido",
		"Gracias por venir"
		]} />
</BaseLayout>