---
import Menu from "./Menu.astro";
import NavBar from "./NavBar.astro";
---

<header>
    <nav>
        <Menu />
        <NavBar />
    </nav>
</header>

<script>
	import "../scripts/menu.js";
</script>